# SPDX-License-Identifier: MIT

.idea
/bin/
/hack/bin/garm-provider-k8s
/hack/local-development/kubernetes/garm-operator-crs.yaml

# Ignore all files in the tmp directory
# primarly used during the release process
tmp/*
